extends layout

block content
  script.
    $('select').selectpicker();
  form(action="?", method="post" enctype="multipart/form-data" onsubmit="submit()")
    label Select devices
    br
    select(name="devices" class="selectpicker" data-live-search="true" multiple="true" required)
      for value in devices
        option(value=value.id) #{`${value.manufacturer} ${value.model} (Android ${value.os}, SDK ${value.sdk})`}
    br
    br
    label Application apk file
    br
    input(type="file", name="file" required)
    br
    br
    label Testing apk file
    br
    input(type="file", name="testFile" required)
    br
    br
    input(type="submit")
  script.
    function submit(){
      let x = $('#devices').val()
      console.log(x)
    }
